
.task-bar{
    margin-top: 20px;
}
.ant-tabs-nav-list{
    justify-content: space-around !important;
    width: 100%;
}
.ant-tabs-ink-bar{
    display: none;
}
.ant-tabs-tab-btn{
    padding: 10px 40px;
    background: #6c757d!important;
    color: white;
    border-radius: 30px;

}
.ant-tabs-tab-btn:focus{
    color: #000!important;
}
.ant-tabs-nav::before{
    border-bottom: 0!important;
}
  
.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #000 !important;
    background-color: #FFC107!important;
}
.filter-dropdown{
    background-color: #ffc107;
}
.ant-dropdown-trigger {
    color: #000;
}
