section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.home-header {
  color: rgb(255, 187, 0);
}

.sidebar-profile {
  height: 90vh;
  background-color: rgb(190, 238, 223);
}
.top-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-box-shadow: 5px -1px 24px 0px rgba(158, 158, 173, 1);
  -moz-box-shadow: 5px -1px 24px 0px rgba(158, 158, 173, 1);
  box-shadow: 5px -1px 24px 0px rgba(158, 158, 173, 1);
}

.task-header button {
  border-radius: 18px;
  box-shadow: 20px 20px 50px #bebebe, -20px -20px 50px #ffffff;
}
.task-buttons button {
  border-radius: 15px;
  box-shadow: 20px 20px 50px #dcdada, -20px -20px 50px #dedede;
}
.task-card,.sidebar-profile {
 
  border-radius: 10px;
  box-shadow: 20px 20px 50px #bcbcbc, -20px -20px 50px #ffffff;
}

.profile-email{
    border-bottom: 2px solid black;
}